{% extends "layout.html" %}

{% block title %}
    Deactivate Account
{% endblock %}

{% block content %}
    <H3><strong>WARNING!</strong> This action is permanant and <strong>cannot</strong> be undone.</H3>
    <form action="/deactivate-account" method="post">
        <div>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Proceed to Deactivation</button>
    </form>
{% endblock %}
