{% extends "layout.html" %}

{% block title %}
    Watch List
{% endblock %}

{% block content %}
<main class="container py-5 text-center">
    <h3>{{ user.username }}'s watch list:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Title</th>
                <th class="text-end">Watched?</th>
                <th class="text-end">Rating</th>
                <th class="text-end">Thoughts</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td class="text-start">{{ entry.title }}</td>
                    <td class="text-end">{{ entry.watched }}</td>
                    <td class="text-end">{{ entry.rating }}</td>
                    <td class="text-end">{{ entry.thoughts }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
