{% extends "layout.html" %}

{% block title %}
    Watch List
{% endblock %}

{% block content %}
<main class="container py-5 text-center">
    <h3>{{ user.username }}'s watch list:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Series</th>
                <th class="text-end">Watched?</th>
                <th class="text-end">Rating</th>
                <th class="text-end">Thoughts</th>
            </tr>
        </thead>
    </table>
</main>
{% endblock %}
